fastapi      # Latest stable FastAPI (Pydantic v2+ compatible)
pydantic          # Pydantic v2 (works with FastAPI >=0.100)
uvicorn[standard]    # ASGI server with full support
SQLAlchemy==2.0.40
# Auth & Security
passlib
bcrypt==4.0.1                # Secure password hashing
cryptography==42.0.5         # Underlying library for SSL, bcrypt, etc.


google-genai

# MongoDB
pymongo==4.6.3               # MongoDB driver

# Data validation & uploads
email-validator==2.2.0       # Email validation (works with Pydantic)
python-multipart==0.0.9      # File upload parsing for FastAPI and JWT 

# Environment variables
python-dotenv==1.0.1         # Loads .env configs

# Async file handling
aiofiles==23.2.1             # Required for `UploadFile`

# HTTP clients
httpx==0.27.0                # Async HTTP requests



# Optional - CORS, static files, etc.
itsdangerous==2.2.0
